@define-color background        #1a1b26;
@define-color foreground        #c0caf5;

@define-color black             #15161e;
@define-color red               #f7768e;
@define-color green             #9ece6a;
@define-color yellow            #e0af68;
@define-color blue              #7aa2f7;
@define-color magenta           #bb9af7;
@define-color cyan              #7dcfff;
@define-color white             #a9b1d6;

@define-color bright_black      #414868;
@define-color bright_red        #ff899d;
@define-color bright_green      #9fe044;
@define-color bright_yellow     #faba4a;
@define-color bright_blue       #8db0ff;
@define-color bright_magenta    #c7a9ff;
@define-color bright_cyan       #a4daff;
@define-color bright_white      #c0caf5;

@define-color accent_bg_color   #7aa2f7;
@define-color accent_fg_color   #1a1b26;
@define-color accent_color      #9ece6a;

@define-color window_bg_color   #1a1b26;
@define-color window_fg_color   #c0caf5;

@define-color view_bg_color     #1f2335;
@define-color view_fg_color     #c0caf5;

@define-color sidebar_bg_color  #16161e;
@define-color sidebar_fg_color  #a9b1d6;
@define-color sidebar_backdrop_color #16161e;
@define-color sidebar_shade_color    #15161e;

@define-color headerbar_bg_color     #7aa2f7;
@define-color headerbar_fg_color     #1a1b26;
@define-color headerbar_backdrop_color #3d59a1;
@define-color headerbar_shade_color    #3d59a1;

@define-color card_bg_color      #1f2335;
@define-color card_fg_color      #c0caf5;

@define-color popover_bg_color   #292e42;
@define-color popover_fg_color   #c0caf5;

@define-color destructive_bg_color @red;
@define-color destructive_fg_color @white;

@define-color success_bg_color   @green;
@define-color success_fg_color   @black;

@define-color warning_bg_color   @yellow;
@define-color warning_fg_color   @black;

@define-color error_bg_color     @red;
@define-color error_fg_color     @white;

@define-color dialog_bg_color    #1a1b26;
@define-color dialog_fg_color    #c0caf5;

@define-color borders            #3b4261;

@define-color theme_fg_color     @foreground;
@define-color theme_text_color   @foreground;
@define-color theme_bg_color     @background;
@define-color theme_base_color   #292e42;
@define-color theme_selected_bg_color  @blue;
@define-color theme_selected_fg_color  @black;
@define-color insensitive_bg_color     #1a1b26;
@define-color insensitive_fg_color     #565f89;
@define-color insensitive_base_color   #1f2335;
@define-color theme_unfocused_fg_color @foreground;
@define-color theme_unfocused_text_color @foreground;
@define-color theme_unfocused_bg_color @background;
@define-color theme_unfocused_base_color #292e42;
@define-color theme_unfocused_selected_bg_color #3b4261;
@define-color theme_unfocused_selected_fg_color @white;
@define-color unfocused_insensitive_color #565f89;
@define-color unfocused_borders #3b4261;
@define-color warning_color @yellow;
@define-color error_color @red;
@define-color success_color @green;
@define-color destructive_color @red;

@define-color content_view_bg  #1f2335;
@define-color text_view_bg     #292e42;

    messagedialog {
        background-color: @dialog_bg_color;
    }

    messagedialog label {
        color: @dialog_fg_color;
        font-size: 14pt;
        font-weight: bold;
    }

    messagedialog .secondary-text {
        font-size: 10pt;
        font-style: italic;
    }

    messagedialog button {
        background-color: @black;
        color: @foreground;
        border: 1px solid @bright_black;
        padding: 10px;
    }

    messagedialog button:hover {
        background-color: @blue;
    }

    banner revealer widget {
        background: @bright_black;
        padding: 5px;
        color: @foreground;
    }

    alertdialog.background {
        background-color: @dialog_bg_color;
        color: @dialog_fg_color;
    }

    alertdialog .titlebar {
        background-color: @headerbar_bg_color;
        color: @headerbar_fg_color;
    }

    alertdialog box {
        background-color: @dialog_bg_color;
    }

    alertdialog label {
        color: @dialog_fg_color;
    }

    filechooser .dialog-action-box {
        border-top: 1px solid @bright_black;
    }

    filechooser .dialog-action-box:backdrop {
        border-top-color: @black;
    }

    filechooser #pathbarbox {
        border-bottom: 1px solid @bright_black;
    }

    filechooserbutton:drop(active) {
        box-shadow: none;
        border-color: transparent;
    }

    toast {
        background-color: @black;
        color: @foreground;
    }

    toast button.circular.flat.image-button:hover {
        color: @background;
        background-color: @red;
    }

    .svg-icon {
        filter: invert(82%) sepia(14%) saturate(500%) hue-rotate(200deg)
            brightness(105%) contrast(92%);
    }
