@define-color background        #2B2A27;
@define-color foreground        #E6DCC6;

@define-color black             #1F1E1B;
@define-color red               #C65A3A;
@define-color green             #7C9A4D;
@define-color yellow            #D9A441;
@define-color blue              #4A5D6B;
@define-color magenta           #B07A8C;
@define-color cyan              #5E8C83;
@define-color white             #F2E9D8;

@define-color bright_black      #3A3833;
@define-color bright_red        #E37B52;
@define-color bright_green      #9DCB5C;
@define-color bright_yellow     #F3C35C;
@define-color bright_blue       #6F8796;
@define-color bright_magenta    #C996A7;
@define-color bright_cyan       #7DB5AA;
@define-color bright_white      #FFF6E6;

@define-color accent_bg_color   #D9A441;
@define-color accent_fg_color   #2B2A27;
@define-color accent_color      #7C9A4D;

@define-color window_bg_color   #2B2A27;
@define-color window_fg_color   #E6DCC6;

@define-color view_bg_color     #32302C;
@define-color view_fg_color     #E6DCC6;

@define-color sidebar_bg_color  #262522;
@define-color sidebar_fg_color  #DCCFB5;
@define-color sidebar_backdrop_color #262522;
@define-color sidebar_shade_color    #1F1E1B;

@define-color headerbar_bg_color     #D9A441;
@define-color headerbar_fg_color     #2B2A27;
@define-color headerbar_backdrop_color #C49135;
@define-color headerbar_shade_color    #B8842D;

@define-color card_bg_color      #32302C;
@define-color card_fg_color      #E6DCC6;

@define-color popover_bg_color   #3A3833;
@define-color popover_fg_color   #E6DCC6;

@define-color destructive_bg_color @red;
@define-color destructive_fg_color @white;

@define-color success_bg_color   @green;
@define-color success_fg_color   @black;

@define-color warning_bg_color   @yellow;
@define-color warning_fg_color   @black;

@define-color error_bg_color     @red;
@define-color error_fg_color     @white;

@define-color dialog_bg_color    #2B2A27;
@define-color dialog_fg_color    #E6DCC6;

@define-color borders            #4A463F;

@define-color theme_fg_color     @foreground;
@define-color theme_text_color   @foreground;
@define-color theme_bg_color     @background;
@define-color theme_base_color   #3A3833;
@define-color theme_selected_bg_color  @yellow;
@define-color theme_selected_fg_color  @black;
@define-color insensitive_bg_color     #2B2A27;
@define-color insensitive_fg_color     #6B675E;
@define-color insensitive_base_color   #32302C;
@define-color theme_unfocused_fg_color @foreground;
@define-color theme_unfocused_text_color @foreground;
@define-color theme_unfocused_bg_color @background;
@define-color theme_unfocused_base_color #3A3833;
@define-color theme_unfocused_selected_bg_color #4A463F;
@define-color theme_unfocused_selected_fg_color @white;
@define-color unfocused_insensitive_color #6B675E;
@define-color unfocused_borders #4A463F;
@define-color warning_color @yellow;
@define-color error_color @red;
@define-color success_color @green;
@define-color destructive_color @red;

@define-color content_view_bg  #32302C;
@define-color text_view_bg     #3A3833;
messagedialog {
    background-color: @dialog_bg_color;
}

    messagedialog {
        background-color: @dialog_bg_color;
    }

    messagedialog label {
        color: @dialog_fg_color;
        font-size: 14pt;
        font-weight: bold;
    }

    messagedialog .secondary-text {
        font-size: 10pt;
        font-style: italic;
    }

    messagedialog button {
        background-color: @black;
        color: @foreground;
        border: 1px solid @bright_black;
        padding: 10px;
    }

    messagedialog button:hover {
        background-color: @blue;
    }

    banner revealer widget {
        background: @bright_black;
        padding: 5px;
        color: @foreground;
    }

    alertdialog.background {
        background-color: @dialog_bg_color;
        color: @dialog_fg_color;
    }

    alertdialog .titlebar {
        background-color: @headerbar_bg_color;
        color: @headerbar_fg_color;
    }

    alertdialog box {
        background-color: @dialog_bg_color;
    }

    alertdialog label {
        color: @dialog_fg_color;
    }

    filechooser .dialog-action-box {
        border-top: 1px solid @bright_black;
    }

    filechooser .dialog-action-box:backdrop {
        border-top-color: @black;
    }

    filechooser #pathbarbox {
        border-bottom: 1px solid @bright_black;
    }

    filechooserbutton:drop(active) {
        box-shadow: none;
        border-color: transparent;
    }

    toast {
        background-color: @black;
        color: @foreground;
    }

    toast button.circular.flat.image-button:hover {
        color: @background;
        background-color: @red;
    }

    .svg-icon {
        filter: invert(79%) sepia(18%) saturate(611%) hue-rotate(192deg)
            brightness(103%) contrast(94%);
    }
